{:deps {org.clojure/clojure {:mvn/version "1.10.3"}
        stasis/stasis {:mvn/version "2.5.0"}
        markdown-clj/markdown-clj {:mvn/version "1.10.7"}}
 :aliases
 {:build
  {:main-opts ["-m" "recipes.core"]}}}
